<div class="list" *ngIf="crimes && crimes.length">
  <p class="crimes-list-title">Crimes based on your search (<span class="crimes-list-title-count">{{ crimes.length }}</span>):</p>

  <table mat-table [dataSource]="crimes" class="crimes-table mat-elevation-z4">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
    </ng-container>

    <ng-container matColumnDef="lat">
      <th mat-header-cell *matHeaderCellDef> Latitude </th>
      <td mat-cell *matCellDef="let element"> {{ element.location.latitude }} </td>
    </ng-container>

    <ng-container matColumnDef="lng">
      <th mat-header-cell *matHeaderCellDef> Longitude </th>
      <td mat-cell *matCellDef="let element"> {{ element.location.longitude }} </td>
    </ng-container>

    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef> Street </th>
      <td mat-cell *matCellDef="let element"> {{ element.location.street }} </td>
    </ng-container>

    <ng-container matColumnDef="outcome">
        <th mat-header-cell *matHeaderCellDef> Outcome </th>
      <td mat-cell *matCellDef="let element"> {{ element.outcome }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>

<p *ngIf="crimes && !crimes.length">No data for crimes found. Which is probably good :)</p>