.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding-left: 30px;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 32px;

  .search {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 32px;
  
    &-bar {
      display: flex;
      align-items: center;
      & > :not(:first-child) {
        margin-left: 20px;
      }
    }

    .results {
      &-error {
        color: #FF4081;
      }
    }
  }

  .explanations {
    width: 40%;
    padding: 32px;
  }
}

/* Responsive Styles */
@media screen and (max-width: 1600px) {
  .content {
    margin: 16px auto;
    padding: 16px;

    .search {
      padding: 16px;
      width: 70%;
    }
    
    .explanations {
      padding: 16px;
      width: 30%;
    }
  }
}
@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column-reverse;
    .search, .explanations {
      width: auto;
    }
  }
}